.app {
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 60px;
  background-image: linear-gradient(to left, rgb(175, 130, 240), rgb(110, 90, 237));
}

.app-title {
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  padding: 10px;
}

.app-form {
  width: 100%;
}

.app-form input {
  width: 80%;
  border: solid snow 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 768px) {
  .app-form input {
    width: 100%;
  }

  .app {
    width: 90%;
  }
}


.app-form button {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.45);
  border: none;
  border-radius: 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.download_button{
  margin-top: 20px;
}

.download_button button{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.45);
  border: none;
  border-radius: 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
  cursor: pointer;
}